# Entorno virtual
venv/
.venv/
env/

# Variables de entorno (APIs, contraseñas)
.env

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local (si aplica)
*.db
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/